body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}
.box
{
    position: relative;
    width: 200px;
    height: 200px;
    background: #000  ;
}
.content
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  align-items: center;

}
.content:hover
{
    color: #fff;
}
.box img
{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s;
}
.box:hover img
{
    clip-path: polygon(0 0, 80% 0%, 0 0, 0% 100%);
}