.tbl_txt
{
    font-size: 40px;
}
.tbl_txt:hover
{
    font-size: 48px;
    color: black;
    transition: 0.3s;
    background-color: gray;
    color: white;
    border-radius: 50px;
    box-shadow: 2px 5px #888888;
}
.dd:hover
{
    display: v;
}